.App {
  text-align: center;
  background-color: lightblue;
}
header {
  background-color: blue;
  padding: 20px;
}
h1 {
  color: white;
}

.main {
  grid-area: main;
}
.comments {
  grid-area: comments;
}
.bigitem {
  padding: 10px;
  margin: 20px;
  background-color: white;
  border: solid blue;
  border-radius: 25px;
  max-height: 300px;
}
#title {
  color: blue;
}
.details {
  list-style: none;
  text-align: left;
}
.emoji {
  max-width: 80px;
}
ul {
  list-style: none;
}

.avatarPics {
  max-width: 150px;
}
.userlist {
  margin: 10px;
  border: solid blue;
  border-radius: 25px;
  color: blue;
}
.mainUser {
  margin: 10px;
  border: solid blue;
  border-radius: 25px;
  color: blue;
}
.button:hover {
  background-color: #3e8e41;
}
.bigCommentItem {
  margin: 10px;
  border: dashed;
}

.navButton {
  width: 33%;
}

.topicsbutton {
  width: 32%;
}
.orderbuttons {
  width: 16%;
}
.authorbuttons {
  width: 16%;
}
.topic-images {
  width: 30%;
  height: 200px;
  padding: 5px;
  border: dashed purple;
}
.gallery {
  display: center;

  border: solid purple;

  padding: 10px;
  /* block-size: 20px; */
}
.filterorder {
  margin: 10px;
  border: solid blue;
  border-radius: 25px;
  color: blue;
}
