.App {
  text-align: center;
  background-color: lightblue;
}
header {
  background-color: blue;
  padding: 20px;
}
h1 {
  color: white;
}
/* .greeting {
  text-align: left;
} */
.longlist {
  display: grid;
  max-width: 300px;
}
.bigitem {
  list-style: none;
  border: solid;
  background-color: lightgrey;
  /* width: 700px; */

  padding: 50px;
  margin-left: 275px;
  /* margin-top: 10px;
  margin-bottom: 10px; */
  border-radius: 25px;
}

.details {
  list-style: none;
  text-align: left;
}
.emoji {
  max-width: 80px;
}
ul {
  list-style: none;
}

.avatarPics {
  max-width: 150px;
}
.userlist {
  margin: 10px;
}
.mainUser {
  border: solid;
}
.button:hover {
  background-color: #3e8e41;
}
.bigCommentItem {
  margin: 10px;
  border: dashed;
}

.navButton {
  width: 33%;
}

.topicsbutton {
  width: 32%;
}
.orderbuttons {
  width: 16%;
}
.authorbuttons {
  width: 16%;
}
.topic-images {
  width: 30%;
  height: 200px;
  padding: 5px;
  border: dashed purple;
}
.gallery {
  display: center;

  border: solid purple;

  padding: 10px;
  /* block-size: 20px; */
}
